name: Tests
on:
  - push
  - pull_request
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: 1.3.1
    - name: Install dependencies
      run: bun ci
    - name: Run tests
      run: bun test
